.rating-p {
	    display: inline-block;
	}
	.rating-p:not(:checked) > input {
	    position:absolute;
	    top:-9999px;
	    clip:rect(0,0,0,0);
	}

	.rating-p:not(:checked) > label {
	    float:right;
	    width:1em;
	    padding:0 .1em;
	    overflow:hidden;
	    white-space:nowrap;
	    cursor:pointer;
	    font-size:200%;
	    line-height:1.2;
	    color:#ddd;
	    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
	}

	.rating-p:not(:checked) > label:before {
	    content: '★ ';
	}

	.rating-p > input:checked ~ label {
	    color: #f70;
	    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
	}

	.rating-p:not(:checked) > label:hover,
	.rating-p:not(:checked) > label:hover ~ label {
	    color: gold;
	    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
	}

	.rating-p > input:checked + label:hover,
	.rating-p > input:checked + label:hover ~ label,
	.rating-p > input:checked ~ label:hover,
	.rating-p > input:checked ~ label:hover ~ label,
	.rating-p > label:hover ~ input:checked ~ label {
	    color: #ea0;
	    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
	}

	.rating-p > label:active {
	    position:relative;
	    top:2px;
	    left:2px;

	}
	.checkout-item1{
		display: inline-block !important;
    	margin-right: 120px;
    	color: #777777;
	}
	.checkout-item2{
		display: inline-block !important;
		color: #777777;
	}
	.checkout-item2 b{
		
		color: black;
	}
	.checkout-item3{
		white-space: nowrap;
		width: 100px;
		text-overflow: ellipsis;    
		overflow: hidden; 
		color: #777777;
		display: inline-block !important;
	}
	.checkout-user{
		text-align: right;
	}
	.table-checkout{
		border: solid 1px #777777;
	}